<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seeu.shopper.product.dao.ProductStockMapper">
  <resultMap id="BaseResultMap" type="com.seeu.shopper.product.model.ProductStock">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="pid" jdbcType="INTEGER" property="pid" />
    <result column="stock_id" jdbcType="INTEGER" property="stockId" />
    <result column="stock_input" jdbcType="INTEGER" property="stockInput" />
    <result column="stock_output" jdbcType="INTEGER" property="stockOutput" />
    <result column="stock_current" jdbcType="INTEGER" property="stockCurrent" />
    <result column="specification_id" jdbcType="INTEGER" property="specificationId" />
    <result column="specification_value" jdbcType="VARCHAR" property="specificationValue" />
    <result column="stock_addtion" jdbcType="VARCHAR" property="stockAddtion" />
    <result column="stock_createdate" jdbcType="TIMESTAMP" property="stockCreatedate" />
  </resultMap>
</mapper>